# .env.example
# URL do seu Google Apps Script (Backend)
GAS_WEBAPP_URL=https://script.google.com/macros/s/AKfycbzyspcbtaezKhIid7a4TKh4-I6TgLZzhi4LY5f0wpmp5H5LuVQonpj5aPchiMiN63IpVg/exec

# Token de Segurança (Deve ser o mesmo no GAS)
GAS_API_TOKEN=SEGREDO_GALÁCTICO_2026

# Modo do App: 'store' (Loja) ou 'admin' (Painel)
VITE_APP_MODE=store
