# .env.example
# URL do seu Google Apps Script (Backend)
GAS_WEBAPP_URL=https://script.google.com/macros/s/AKfycbwphZBklibQRJghRhs9-eYleKbIx8mbDqWSZGxmSbapOTuDDA9sg7xkGRxETCQSAwjCvQ/exec

# Token de Segurança (Deve ser o mesmo no GAS)
GAS_API_TOKEN=JVV_STORE_SECRET_2026

# Modo do App: 'store' (Loja) ou 'admin' (Painel)
VITE_APP_MODE=store

# Google Maps / Gemini API Key
GOOGLE_MAPS_PLATFORM_KEY=
