# .env.example
# URL do seu Google Apps Script (Backend)
GAS_WEBAPP_URL=https://script.google.com/macros/s/AKfycbzKLQ7yTdZFkcpqOofn2oCWCcQ3cuIOE2EJG26XGE5Q1W4bpCdVkkQ0ImBTqOs3PoaMFA/exec

# Token de Segurança (Deve ser o mesmo no GAS)
GAS_API_TOKEN=SEGREDO_GALÁCTICO_2026

# Modo do App: 'store' (Loja) ou 'admin' (Painel)
VITE_APP_MODE=store

# Google Maps / Gemini API Key
GOOGLE_MAPS_PLATFORM_KEY=
